# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build
dist
build
*.log

# Testes
coverage
.nyc_output

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentação
*.md
postman

# Ambiente
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
